body {
	background-color: #ffffff;
}

html, body, #canvas {
	border: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#canvas {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	cursor: default;
}

#textInput {
    background-color: transparent;
}
